<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.chalmers.hemmafesten"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"
         />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="se.chalmers.hemmafesten.Application" >
       <meta-data
        android:name="android.app.default_searchable"
        android:value="se.chalmers.hemmafesten.activity.SearchableActivity" /> 
          <provider android:name="se.chalmers.hemmafesten.activity.SearchSuggestionProvider"
              android:authorities="se.chalmers.hemmafesten.activity.SearchSuggestionProvider"
              android:exported="false" />
        <activity
            android:name="se.chalmers.hemmafesten.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
           <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="se.chalmers.hemmafesten.activity.PartyActivity"
            android:label="@string/title_activity_party"
            android:parentActivityName="se.chalmers.hemmafesten.activity.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.hemmafesten.MainActivity" />
        </activity>

        <service
            android:name="se.chalmers.hemmafesten.service.PartyService"
            android:label="@string/service_name" >
        </service>

        <activity
            android:name="se.chalmers.hemmafesten.activity.ActionBarActivity"
            android:label="@string/title_activity_action_bar"
            android:launchMode="singleInstance" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="se.chalmers.hemmafesten.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="se.chalmers.hemmafesten.activity.SavedPartiesActivity"
            android:label="@string/title_activity_saved_parties" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="se.chalmers.hemmafesten.activity.HelpActivity"
            android:label="@string/title_activity_help" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="se.chalmers.hemmafesten.activity.SearchableActivity"
            android:label="@string/title_activity_searchable"
            android:screenOrientation="portrait" >
            
        <!-- This intent-filter identifies this activity as "searchable" -->

        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <!-- This metadata entry provides further configuration details for searches -->
        <!-- that are handled by this activity. -->

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        </activity>
       
    </application>

</manifest>