// Copy me as "APIKeys.java" in the same directory and then fill in the API
// key values. The APIKeys.java file must never be commited to the repo!

package se.chalmers.hemmafesten;

final public class APIKeys {
	final public static String ParseApplicationID() {
		return "IVQ694NtHRaYKClh8SYVocGI8f8S5ze0znQSTa8z";
	}
	
	final public static String ParseClientKey() {
		return "91upZwzFSnEsQqLjKj0W5X7GnxGSSSEpGoc6jzgE";
	}
}
